<div class="dataTables_wrapper form-inline dt-bootstrap">
    <div class="row" ng-if="<%-controllerAs+'.searchtool'%>">
        <form class="form-inline col-xs-12">
            <!--<div class="form-group group-margin">
                <label>Search:</label>
                <input ng-model="cash.search.startDate" date-parser="yyyy-MM-dd" type="text" class="form-control" id="exampleInputName2" placeholder="From date">
            </div>-->
            <!--<div class="form-group group-margin">
                <label>To:</label>
                <input ng-model="cash.search.endDate" date-parser="yyyy-MM-dd" type="date" class="form-control" id="exampleInputEmail2" placeholder="To date">
            </div>
            <div class="form-group group-margin">
                <label>Trader Name:</label>
                <input ng-model="cash.search.traderName" type="email" class="form-control" id="exampleInputEmail2" placeholder="Trader name">
            </div>-->
        </form>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <label ng-if="<%-controllerAs+".pagesizetool"%>">Show <select ng-model="<%-`${controllerAs}.itemsperpage`%>" name="example1_length" aria-controls="example1"
                                                                          class="form-control input-sm">
                    <option value="">Please select</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select> entries</label>
            <button class="btn btn-default" ng-click="<%-`${controllerAs}.queryPage(${controllerAs}.search)`%>">Search</button>
            <button ng-if="<%-controllerAs+".addtool"%>"  auth-opt="<%-authorities.create%>" ng-click="<%-controllerAs+".tblOptAdd()"%>" type="button" class="btn btn-default pull-right"><i class="fa fa-plus"></i>New</button>
        </div>
        <!--<div class="col-sm-3">
            <div ng-if="<%-controllerAs+".searchtool"%>" class="dataTables_filter">

            </div>
        </div>
        <div class="col-sm-3">
            <button ng-if="<%-controllerAs+".addtool"%>"  auth-opt="<%-authorities.create%>" ng-click="<%-controllerAs+".tblOptAdd()"%>" type="button" class="btn btn-default pull-right"><i class="fa fa-plus"></i>New</button>
        </div>-->
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-striped dataTable" role="grid"
                   aria-describedby="example1_info">
                <thead>
                <tr role="row">
                    <th>Index</th>
                    <% properties.forEach(function(prop) { %>
                    <th><%-prop.propName%></th>
                    <% }) %>
                    <th class="col-xs-2">Operation</th>
                </thead>
                <tbody>
                <tr ng-repeat="($index, <%-subModelName%>) in <%-controllerAs+"."+listModelName%>" role="row">
                    <td>{{$index+1}}</td>
                    <% properties.forEach(function(prop) { %>
                    <td>{{<%-`${subModelName}.${prop.modelName}${prop.join?".join('"+prop.join+"')": ""}`%>}}</td>
                    <% }) %>
                    <td>
                        <input ng-if="<%-controllerAs+".checktool"%>" ng-disabled="!<%-controllerAs+".checkable"%>" ng-model="<%-subModelName+".checked"%>" type="checkbox">
                        <span ng-if="<%-controllerAs+".edittool"%>" auth-opt="<%-authorities.update%>" ng-click="<%-`${controllerAs}.tblOptEdit(${subModelName}.id)`%>" class="table-control-btn" title="Edit"><i class="fa fa-pencil"></i></span>
                        <span ng-if="<%-controllerAs+".viewtool"%>" auth-opt="<%-authorities.read%>" ng-click="<%-`${controllerAs}.tblOptView(${subModelName}.id)`%>" class="table-control-btn" title="View"><i class="fa fa-television"></i></span>
                        <span ng-if="<%-controllerAs+".deletetool"%>" auth-opt="<%-authorities.delete%>" ng-click="<%-`${controllerAs}.tblOptDelete(${subModelName}.id)`%>" class="table-control-btn" title="Delete"><i class="fa fa-trash"></i></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <%-`Showing {{(${controllerAs}.bigCurrentPage-1)*${controllerAs}.itemsperpage || 1}} to {{(${controllerAs}.bigCurrentPage)*${controllerAs}.itemsperpage > ${controllerAs}.totalCount?(${controllerAs}.bigCurrentPage)*${controllerAs}.itemsperpage:${controllerAs}.totalCount}} of {{${controllerAs}.totalCount}} entries`%>
        </div>
        <div ng-if="<%-`${controllerAs}.totalCount/${controllerAs}.itemsperpage > 1`%>" class="col-sm-7">
            <ul class="pagination pull-right" uib-pagination total-items="<%-controllerAs+".totalCount"%>"
                ng-model="<%-controllerAs+".bigCurrentPage"%>" items-per-page="<%-controllerAs+".itemsperpage"%>" class="pagination-sm"
                max-size="5"
                ng-change="<%-`${controllerAs}.queryPage(${controllerAs}.itemsperpage)`%>"
                boundary-link-numbers="true" rotate="true" boundary-links="true"></ul>
        </div>
    </div>
</div>
